<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>오늘 뭐볼래?💻</title>
    <style>
        .wrap-title {
            width: 500px;
            height: 100px;
            color: dodgerblue;
            background-size: cover;
            background-position: center;
            background-color: lightgoldenrodyellow;
            text-align: center;
            border-radius: 40px;
            padding-top: 20px;
            margin: auto auto;
        }

        .first-category-buttons {
            text-align: center;
        }

        .second-category-buttons {
            text-align: center;
        }

        .card {
            /*width: 500px;*/
            /*height: 500px;*/
            /*text-align: left;*/

        }
    </style>

    <script>
      function searchAndMakeCard(name) {
        $.ajax({
          url: `/videolist/${name}`,
          method: "GET",
          data: {},
          success: function (response) {
            if (response["result"] === "success") {
              // 비우고
              $("#card-container").empty()

              // 채워넣는다
              const video_list = response["video_list"]
              for (let i = 0; i < video_list.length; i++) {
                const current_video = video_list[i]
                const card = makeCard("", "", current_video["img_src"], current_video["title"], "#")
                $("#card-container").append(card)
              }
            } else {
              alert("실패")
            }
          }
        })
        // 크롤링 요청
        // img, title, description, link
        // makeCard
      }

      function makeCard(comment, desc, image, title, url) {
        return `<div class="card" style="width: 18rem;">
                  <img src="${image}" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5 class="card-title">${title}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <a href="${url}" class="btn btn-primary">보러가기</a>
                  </div>
          </div>`
      }

    </script>
</head>
<body>
<div>
    <div>
        <div class="wrap-title">
            <h1>오늘 뭐볼래?💻</h1>
        </div>
    </div>
    <hr>
    <div class="first-category-buttons">
        <button type="button" onclick="searchAndMakeCard('english+vlog')" class="btn btn-outline-danger">브이로그</button>
        <button type="button" onclick="searchAndMakeCard('랜선집들이')" class="btn btn-outline-warning">랜선집들이</button>
        <button type="button" onclick="searchAndMakeCard('english+vlog')" class="btn btn-outline-success">플레이리스트
        </button>
        <button type="button" onclick="searchAndMakeCard('english+vlog')" class="btn btn-outline-info">직캠</button>
    </div>
    <p></p>
    <div class="second-category-buttons">
        <button type="button" class="btn btn-outline-danger">~1천</button>
        <button type="button" class="btn btn-outline-warning">1천~1만</button>
        <button type="button" class="btn btn-outline-success">1만~10만</button>
        <button type="button" class="btn btn-outline-info">10만~</button>
    </div>
    <hr>
    <div id="card-container" class="card-colums">
    </div>
</div>
</div>


</div>

</div>
</body>
</html>
